extends layout

block content
  h1= title
  h2 2
  div (class='divCentrado controles')
    div (class='fila')
      input (type='button' id='Green' onClick='changeColor('rgba(0, 250, 0, 0.4)')')
        input (type='button' id='red' onClick='changeColor('rgba(250, 0, 0, 0.4)'))
          input (type='button' id='blue' onClick='changeColor('rgba(0, 0,250, 0.4)')')

    div (class='fila')
        input (type="number" id="maxValue" name="maxValue" value="10")
        input (type="button" onClick="changeValue('maxValue', -1)" value="-")
        input type="button" onClick="changeValue('maxValue', 1)" value="+")
    div (id="contenedor" class="divCentrado")
