@charset "UTF-8";
@-ms-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}


.block {
    position: relative;
    margin: 0 auto;
    padding: 1.5em 0;
}

.close-btn {
    display: block;
    width: 2.625em;
    height: 2.25em;
    padding: 0;
    border: 0;
    outline: none;
    background: #333333 url("../images/close-btn.svg") left center no-repeat;
    background-size: 1.875em 1.875em;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 100%;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.no-svg .close-btn {
    background-image: url("../images/close-btn.png");
}
.close-btn:focus, .close-btn:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

.nav-btn:hover, .nav-btn:focus {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

#outer-wrap {
    position: relative;
    overflow: hidden;
    width: 100%;
}

#inner-wrap {
    position: relative;
    width: 100%;
}

#nav {
    position: absolute;
    top: 0;
    padding-top: 5.25em;
}
#nav .close-btn {
    display: none;
}
#nav .block-title {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

#nav li a {
    display: block;
    color: #ccc;
    font-size: 0.875em;
    line-height: 1.28571em;
    font-weight: bold;
    outline: none;
}
#top .block-title {
    margin: 0 0 0 5em;
    color: gray;
    font-size: 31px;
}
#top .nav-btn {
    position: absolute;
top: 0.5em;
left: 1.875em;
color: white;
text-decoration: none;
font-size: 30px;
}
header#top {
    background: rgb(58, 55, 55);
}
h1.block-title {
    color: white !important;
}

#main {
    background: #fff;
}
#main .block {
    padding: 0;
}

.js-ready #nav {
    height: 100%;
    width: 15%;
    background: #333333;
    -webkit-box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
    box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
    left: -15%;
}
.js-ready #nav .close-btn {
    display: block;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
}
#nav:target .close-btn {
    display: block;
}
#nav .close-btn {
    position: absolute;
    top: -3.75em;
    left: 1.875em;
}
#nav .block {
    position: relative;
    padding: 0;
}
/*media queries*/
@media (max-width: 560px) {
    #top .block-title {
        margin: 10px 0 0 100px;
        font-size: 25px;
    }
}