body{
  padding: 0px;
  margin: 0px;
  border: 0px;
  background-color: orange;
}
.divCentrado{
  background: #FCFCFC;
  width: 80%;
  margin: 2em auto;
}
.controles{
  padding-top: 300px;
}
.row{
  text-align: center;
  width: 100%;
  margin: 10px;
}
.colors {
  margin: 0;
  padding: 0;
}
.colors li {
  display: inline-block;
}
.colors li a {
  display: block;
  width: 1.5em;
  height: 1.5em;
}
a[data-color='red']{
  background: red;
}
a[data-color='yellow']{
  background: yellow;
}
a[data-color='blue']{
  background: blue;
}
a[data-color='black']{
  background: black;
}
a[data-color='pink']{
  background: pink;
}
a[data-color='skyblue']{
  background: skyblue;
}
a[data-color='white']{
  background: white;
}
#maxValue{
  width:35px;
}